// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "semantic-ui";

.first {
    margin-top: 50px;
}

.single {
    width: 40% !important;
    margin: auto !important;
    margin-top: 30px !important;
}

input {
    margin-top: 0px !important;
}

.text-center {
    text-align: center !important;
}

.processing {
    margin-left: 20px;
    font-weight: 100 !important;
    font-size: 1.4rem;
}

h2.labels {
    .loader {
        margin-left: 40px !important;
    }
}

.text-purple {
    color: purple;
}

.text-gray {
    color: gray;
}

.half-width {
    width: 50% !important;
}

.centered {
    margin: auto !important;
}

a.image.me {
    min-height: 100px;
}

div.labels span:not(:first-child) {
    margin-left: 20px !important;
}

div.labels {
    line-height: 3;
}

.labels .check {
    margin-left: 11px;
}

.ui.search {
    width: 100% !important;
    display: flex;
    justify-content: center;
}

input.prompt {
    width: 400px !important;
    height: 55px;
}
