<div class="ui container single">
  <h3 class="text-center text-gray">Search Images by Labels (Comma Seperated)</h3>
  <%= form_tag(images_path, method: :get, id: 'search') do %>
    <div class="ui search">
      <div class="ui icon input">
        <input name="search" class="prompt" type="text" placeholder="Labels...">
        <a href="javascript:void(0);" onclick="document.getElementById('search').submit();"><i class="search icon"></i></a>
      </div>
    </div>
  <% end %>
  <br/>
  <div class="ui divider"></div>
  <br/>
  <br/>
  <div class="ui one cards">
    <% @images.each do |image| %>
      <%= render 'image', image: image %>
    <% end %>
  </div>
  <br/>
  <br/>
  <%= paginate @images %>
</div>
<br/>
<br/>
