<div class="ui container single">
  <h2>New Image</h2>
  <p>Supported types: JPG, JPEG, PNG</p>
  <br/>
  <form id="single-upload" name="single" class="ui form" enctype="multipart/form-data" action="/presigned_urls" accept-charset="UTF-8" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="field">
      <label>Picture</label>
      <input multiple="multiple" id="file" accept=".jpeg, .png" type="file" name="image[picture]">
    </div>
    <div class="actions text-center">
      <input type="submit" name="commit" value="Upload" class="ui primary button" data-disable-with="Create Image">
    </div>
  </form>
  <br/>
  <br/>
  <div class="ui container center half-width">
    <div class="ui segments" id="single-progress">
    </div>
  </div>
</div>

<%= javascript_pack_tag 'single' %>