<p id="notice"><%= notice %></p>

<div class="ui container center first">
  <div class="ui hidden placeholder fluid" id="placeholder">
    <div class="rectangular image">
      <% if @image.picture.attached? %>
        <%= image_tag @image.picture, class: 'ui fluid rounded image', onload: "this.parentNode.parentNode.classList.remove('placeholder')" %>
      <% else %>
        <img class="ui fluid rounded image" onload="this.parentNode.parentNode.classList.remove('placeholder')" src="<%= @image.picture_url %>">
      <% end %>
    </div>
  </div>
  <br />
  <br />
  <h2 class="labels">Detected Labels (From Highest to Lowest Confidence):
    <% unless @image.processed? %>
      <div class="ui active inline medium loader"></div><span class="processing">Processing Image</span>
    <% end %>
  </h2>
  <div>
    <% if @image.processed? %>
      <% @image.label_list.each do |label| %>
        <span class="ui large tag label"><%= label %></span>
      <% end %>
    <% end %>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
